#svkm_secure_iframe {
    width: 100%;
}

.svkm_im_editable {
    background: #FFFFFF;
    color: black;
    border: 1px solid #C0CAD5;
    min-height: 40px;
    padding: 3px 25px 5px 3px;
    margin-bottom: 3px;
    outline: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 150%;
    word-wrap: break-word;
    cursor: text;
}

body.svkm {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans, serif;
    margin: 0 6px;
}

#svkm_message {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans, serif;
    width: 90%;
    min-height: 40px;
    margin-top: -14px;
    font-size: 11px;
}

#svkm_message {
    resize: none
}

#svkm_secure_div {
    width: 358px;
}

.button_blue button:hover,
.button_blue button.hover {
    background-position: 0 -5px;
    border-bottom-color: #4e7199;
    cursor: pointer;
}

.button_blue button,
.button_blue.button_disabled button:active,
.button_blue.button_disabled button.active,
.button_blue.button_disabled button:hover,
.button_blue.button_disabled button.hover {
    padding: 6px 16px;
    border: 0;
    border-bottom: 1px solid #496b93;
    text-shadow: 0 1px 0 #5578A0;
    background: #658ab0 url(/images/button_bgf.png?1) repeat-x 0 -12px;
    color: #FFF;
    font: Tahoma;
    font-size: 11px;
    height: 25px;
}

button.button_blue:disabled {
    background: #B5B5B5;
    color: #888;
    text-shadow: 0 0px 0;
}

.unsecure-form {
    background-color: rgb(237, 194, 194);
    border: 1px solid red;
    color: red;
    padding: 4px;
 }

.secured-form {
    background-color: rgb(179, 237, 162);
    border: 1px solid #075100;
    color: #075100;
    padding: 4px;
}

.security-status-label {
    padding-bottom: 4px;
    font-size: 12px;
}

div.button_blue {
    display: inline-block;
}

div.svkm-info-msg-item {
    margin-bottom: 4px;
}

#svkm-info {
    margin: 4px;
}
